{{> accountHeader }}

<div class="row">
  <div class="span8 offset2">
    <dl class="dl-horizontal account-info ">
      <dt>Name</dt>
      <dd>{{user.name}}</dd>
      <dt>Total file moves</dt>
      <dd>{{user.fileMoves}}</dd>
      <dt>Sort automatically</dt>
      <dd class="periodicSort">
        {{#if user.periodicSort}}
        <form action="/account/periodicSort" method="post">
          {{> formCsrf }}
          <button class="btn disabled">Enabled</button>
          <input type="hidden" name="periodicSort" value="0">
          <button type="submit" class="btn btn-danger">Disable</button>
        </form>
        {{else}}
        <form action="/account/periodicSort" method="post">
          {{> formCsrf }}
          <input type="hidden" name="periodicSort" value="1">
          <button type="submit" class="btn btn-primary">Enable</button>
          <button class="btn disabled">Disable</button>
        </form>
        {{/if}}
      </dd>
      <dt>Sorting folder</dt>
      <dd>
        <form action="/account/sortingFolder" method="post" class="form-inline">
          {{> formCsrf }}
          <input type="text" name="sortingFolder" value="{{user.sortingFolder}}" required pattern="^/.*" title="Must start with a slash /">
          <input type="submit" class="btn" value="Update">
        </form>
      </dd>
      <dt>Last file move</dt>
      {{#if user.lastSync}}
      <dd>{{#if user.lastSync}}{{formatDateSince user.lastSync}}{{else}}<em>None yet</em>{{/if}}</dd>
      {{else}}
      <dd><em>None yet</em></dd>
      {{/if}}
      <dt>Last login</dt>
      <dd>{{formatDateSince user.lastLogin}}</dd>
      <dt>Registration</dt>
      <dd>{{formatDate user.created}}</dd>
      <dt>Last modified</dt>
      <dd>{{formatDate user.modified}}</dd>
    </dl>
  </div>
</div>
