<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SortMyBox &mdash; {{#if title}}{{title}}{{else}}Home{{/if}}</title>
    <meta name="description" content="Organize your files in the cloud with sorting rules. Like e-mail filters.">
    <meta name="author" content="Mustafa Paksoy">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link href="{{static '/css/bootstrap.min.css'}}" rel="stylesheet">
    <link href="{{static '/css/styles.css'}}" rel="stylesheet">

    <link rel="shortcut icon" href="{{static '/img/favicon.png'}}">
    <script>
        var _gaq= _gaq || [];
        _gaq.push(['_setAccount','UA-31266349-1']);
        _gaq.push(['_trackPageview']);
    </script>
  </head>

  <body>

    <div class="container">
      {{{ body }}}

      <hr>
      <div class="row">
        <div class="span12">
        <p>
          <span class="easter">&copy;</span>
          2018 All Rights Reserved &middot;
          <a href="/terms">Terms</a> &middot;
          <a href="/privacy">Privacy</a> &middot;
          <a href="mailto:contact@sortmybox.com">Contact</a> &middot;
          <a href="/press">Press</a>
        </p>
      </div>
    </div>
    <script src="{{static '/js/underscore.js'}}"></script>
    <script src="{{static '/js/jquery-1.7.2.js'}}"></script>
    <script src="{{static '/js/bootstrap.js'}}"></script>
    <script src="{{static '/js/jquery-ui-1.8.20.custom.js'}}"></script>
    <script src="{{static '/js/sortbox.js'}}"></script>

    <script>
      window.csrfToken = {{{ escapeJSString ( csrfToken ) }}};
    </script>
    {{> jsTemplates }}
   <!-- Asynchronous Google Analytics snippet. mathiasbynens.be/notes/async-analytics-snippet -->
   <script>
       (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
           g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
           s.parentNode.insertBefore(g,s)}(document,'script'));
   </script>
   <!-- end google analytics code -->
   <script id="IntercomSettingsScriptTag">
    window.intercomSettings = {
        {{#if user}}
            email: {{{ escapeJSString user.email }}}, }},
            created_at: {{ dateToSeconds user.created }},
            name: {{{ escapeJSString user.name }}},
            user_id: {{{ escapeJSString user.id }}},
            custom_data: {
                {{#if user.lastSync}}
                last_sync_at: {{ dateToSeconds user.lastSync }}
                {{/if}}
            },
        {{/if}}
        app_id: "19fa2901dd8a52f20c3fc7043af2527bffb1c3d0"
    };
	</script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://api.intercom.io/api/js/library.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>
  </body>
</html>
